@import "partials/base";
@import "partials/color";
@import "partials/type";

body {
    font: normal $base-font-weight $base-font-size/$base-line-height $base-font-family;
    display:block;
    min-height:100%;
    max-width:1200px;
    margin: 0 auto;
    @include background($cool-light);
}



.container {
    @include container;


    .box {
        border: 1px solid #ccc;

        margin-left: auto;
        margin-right: auto;

    }

    .shaded {
        background-color:$hot;
    }


    .left {
        left: 0;
        text-align: left;

    }

    .right {
        right: 0;
        text-align: right;
    }

    .wrap_content {
        width: auto;
    }
    .third {
        @include span(12 of 12);
        text-align: center;
    }

    .full {
        @include span(12 of 12);
        text-align: center;
    }

    .half {
        @include span(6 of 12);
        text-align: center;
    }

    @include breakpoint($desktop) {
        .third {
            @include span(4 of 12);
        }

        .full {
            @include span(12 of 12);
        }

        .half {
            @include span(6 of 12);
        }
    }

    @include breakpoint($tablet) {
        .third {
            @include span(6 of 12);
        }

        .full {
            @include span(12 of 12);
        }

        .half {
            @include span(6 of 12);
        }
    }
}