@import "partials/base";
@import "partials/color";
@import "partials/type";

body {
    font: normal $base-font-weight $base-font-size/$base-line-height $base-font-family;
    display:block;
    min-height:100%;
    max-width:1200px;
    margin: 0 auto;
    @include background($white);
}

.container {
    @include container;

    .icon {
        height:20px;
        margin: 10px 20px 10px 0;
    }

    .box {
        margin:15px;
        margin-left: auto;
        margin-right: auto;
        padding:15px;

        h3 {
            font-size:2em;
        }

        a {
            font-size:1.2em;
            text-decoration: none;
        }
    }

    &.header {
        .logo {
            padding:15px;
        }
    }

    .byline {
        vertical-align: bottom;
        padding:15px;
        text-align: right;
        right: 0;
        p {
            text-align: right;
            right:0;
            margin:0;
        }
    }
    .hero {
        @include span(12 of 12);
        max-height: 35em;
        overflow: hidden;
        padding:0;

        img {
            width: 100%;
        }
    }
    .icebreak {
        @include background-image(url("../img/icebreak-small_small.jpg"));
        @include background-size(cover);
        min-height: 10em;
        margin-left: auto;
        margin-right: auto;
    }

    .waves {
        @include background-image(url("../img/waves-small_small.jpg"));
        @include background-size(cover);
        min-height: 10em;
        margin-left: auto;
        margin-right: auto;
    }

    .drink {
        @include background-image(url("../img/drink-small_small.jpg"));
        @include background-size(cover);
        min-height: 10em;
        margin-left: auto;
        margin-right: auto;
    }

    .left {
        left: 0;
        text-align: left;
    }

    .right {
        right: 0;
        text-align: right;
    }

    .wrap_content {
        width: auto;
    }
    .ofthree {
        @include span(12 of 12);
    }

    .full {
        @include span(12 of 12);
    }

    .copyright {
        text-align: center;
        p {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .social {
        img {
            width: 30px;
            height: auto;
        }
    }

    &.footer {
        .logo {
            img {
                width:60px;
            }
        }
    }

    .half {
        @include span(6 of 12);
    }

    @include breakpoint($desktop) {



        .drink {
            @include background-image(url("../img/drink-medium_medium.jpg"));
        }
        .waves {
            @include background-image(url("../img/waves-medium_medium.jpg"));
        }
        .icebreak {
            @include background-image(url("../img/icebreak-medium_medium.jpg"));
        }
        .ofthree {
            @include span(4 of 12);

        }

        .full {
            @include span(12 of 12);
        }

        .half {
            @include span(6 of 12);
        }
        .social {
            img {
                width: 30px;
                height: auto;
            }
        }
        &.footer {
            .logo {
                img {
                    width: 60px;
                }
            }

        }
    }

    @include breakpoint($tablet) {

        .ofthree {
            @include span(6 of 12);
            &.three {
                @include span(12 of 12);
            }
        }

        .three & .ofthree {
            @include span(12 of 12);
        }

        .full {
            @include span(12 of 12);
        }

        .half {
            @include span(6 of 12);
        }

        .social {
            img {
                width:60px;
                height: auto;
            }
        }
    }
}