/* line 5, ../sass/partials/_type.scss */
body a, body span, body p {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/* line 9, ../sass/partials/_type.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Droid Serif", "Times New Roman", "Georgia", serif;
}

/* line 14, ../sass/partials/_type.scss */
h1 {
  font-size: 1.8em;
  font-weight: 700;
}

/* line 19, ../sass/partials/_type.scss */
h2 {
  font-size: 1.5em;
  font-weight: 700;
}

/* line 24, ../sass/partials/_type.scss */
h3 {
  font-size: 1.3em;
  font-weight: 700;
}

@media (min-width: 700px) {
  /* line 30, ../sass/partials/_type.scss */
  h1 {
    font-size: 2.5em;
    font-weight: 700;
  }

  /* line 35, ../sass/partials/_type.scss */
  h2 {
    font-size: 2.2em;
    font-weight: 700;
  }

  /* line 40, ../sass/partials/_type.scss */
  h3 {
    font-size: 2em;
    font-weight: 700;
  }

  /* line 44, ../sass/partials/_type.scss */
  .subheadline {
    padding-font-size: 0.8em;
  }
}
/* line 51, ../sass/partials/_type.scss */
.headline {
  color: #78542c;
}

/* line 54, ../sass/partials/_type.scss */
.subheadline {
  font-size: 1.5em;
}

/* line 58, ../sass/partials/_type.scss */
.whitecopy {
  color: #fff9f0;
  text-shadow: 1px 2px 2px black;
  text-shadow: 1px 2px 2px true black;
}

/* line 63, ../sass/partials/_type.scss */
.article-body {
  color: #3c6e73;
}

/* line 5, ../sass/main.scss */
body {
  font: normal 400 10px "Helvetica", "Arial", sans-serif;
  display: block;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff9f0;
}

/* line 14, ../sass/main.scss */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 17, ../sass/main.scss */
.container .icon {
  height: 20px;
  margin: 10px 20px 10px 0;
}
/* line 22, ../sass/main.scss */
.container .box {
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
/* line 28, ../sass/main.scss */
.container .box h3 {
  font-size: 2em;
}
/* line 32, ../sass/main.scss */
.container .box a {
  font-size: 1.2em;
  text-decoration: none;
}
/* line 39, ../sass/main.scss */
.container.header .logo {
  padding: 15px;
}
/* line 44, ../sass/main.scss */
.container .byline {
  vertical-align: bottom;
  padding: 15px;
  text-align: right;
  right: 0;
}
/* line 49, ../sass/main.scss */
.container .byline p {
  text-align: right;
  right: 0;
  margin: 0;
}
/* line 55, ../sass/main.scss */
.container .hero {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  max-height: 35em;
  overflow: hidden;
  padding: 0;
}
/* line 61, ../sass/main.scss */
.container .hero img {
  width: 100%;
}
/* line 65, ../sass/main.scss */
.container .icebreak {
  background-image: url("../img/icebreak-small_small.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
}
/* line 73, ../sass/main.scss */
.container .waves {
  background-image: url("../img/waves-small_small.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
}
/* line 81, ../sass/main.scss */
.container .drink {
  background-image: url("../img/drink-small_small.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
}
/* line 89, ../sass/main.scss */
.container .left {
  left: 0;
  text-align: left;
}
/* line 94, ../sass/main.scss */
.container .right {
  right: 0;
  text-align: right;
}
/* line 99, ../sass/main.scss */
.container .wrap_content {
  width: auto;
}
/* line 102, ../sass/main.scss */
.container .ofthree {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 106, ../sass/main.scss */
.container .full {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 110, ../sass/main.scss */
.container .copyright {
  text-align: center;
}
/* line 112, ../sass/main.scss */
.container .copyright p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 120, ../sass/main.scss */
.container .social img {
  width: 30px;
  height: auto;
}
/* line 128, ../sass/main.scss */
.container.footer .logo img {
  width: 60px;
}
/* line 134, ../sass/main.scss */
.container .half {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 700px) {
  /* line 142, ../sass/main.scss */
  .container .drink {
    background-image: url("../img/drink-medium_medium.jpg");
  }
  /* line 145, ../sass/main.scss */
  .container .waves {
    background-image: url("../img/waves-medium_medium.jpg");
  }
  /* line 148, ../sass/main.scss */
  .container .icebreak {
    background-image: url("../img/icebreak-medium_medium.jpg");
  }
  /* line 151, ../sass/main.scss */
  .container .ofthree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 156, ../sass/main.scss */
  .container .full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 160, ../sass/main.scss */
  .container .half {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 164, ../sass/main.scss */
  .container .social img {
    width: 30px;
    height: auto;
  }
  /* line 171, ../sass/main.scss */
  .container.footer .logo img {
    width: 60px;
  }
}
@media (min-width: 640px) and (orientation: portrait) {
  /* line 181, ../sass/main.scss */
  .container .ofthree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 183, ../sass/main.scss */
  .container .ofthree.three {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 188, ../sass/main.scss */
  .three .container .ofthree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 192, ../sass/main.scss */
  .container .full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 196, ../sass/main.scss */
  .container .half {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 201, ../sass/main.scss */
  .container .social img {
    width: 60px;
    height: auto;
  }
}
