/* line 3, ../sass/main.scss */
body {
  font: normal 400 10px "Helvetica", "Arial", sans-serif;
  display: block;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

/* line 13, ../sass/main.scss */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../var/lib/gems/1.9.1/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 16, ../sass/main.scss */
.container .box {
  border: 1px solid #ccc;
}
/* line 20, ../sass/main.scss */
.container .left {
  left: 0;
  text-align: left;
}
/* line 26, ../sass/main.scss */
.container .right {
  right: 0;
  text-align: right;
}
/* line 31, ../sass/main.scss */
.container .wrap_content {
  width: auto;
}
/* line 34, ../sass/main.scss */
.container .third {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
}
/* line 39, ../sass/main.scss */
.container .full {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
}
/* line 44, ../sass/main.scss */
.container .half {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
}
@media (min-width: 700px) {
  /* line 50, ../sass/main.scss */
  .container .third {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 54, ../sass/main.scss */
  .container .full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 58, ../sass/main.scss */
  .container .half {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 640px) and (orientation: portrait) {
  /* line 64, ../sass/main.scss */
  .container .third {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 68, ../sass/main.scss */
  .container .full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 72, ../sass/main.scss */
  .container .half {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
