/* line 3, ../sass/partials/_color.scss */
body {
  color: #434450;
}

/* line 5, ../sass/partials/_type.scss */
body a, body span, body p {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/* line 9, ../sass/partials/_type.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Droid Serif", "Times New Roman", "Georgia", serif;
}

/* line 14, ../sass/partials/_type.scss */
h1 {
  font-size: 2.5em;
  font-weight: 700;
}

/* line 19, ../sass/partials/_type.scss */
h2 {
  font-size: 2.2em;
  font-weight: 700;
}

/* line 24, ../sass/partials/_type.scss */
h3 {
  font-size: 2em;
  font-weight: 700;
}

/* line 29, ../sass/partials/_type.scss */
.headline {
  color: #78542c;
}

/* line 32, ../sass/partials/_type.scss */
.subheadline {
  font-size: 1.5em;
}

/* line 36, ../sass/partials/_type.scss */
.whitecopy {
  color: #fff9f0;
  text-shadow: 1px 2px 2px black;
  text-shadow: 1px 2px 2px true black;
}

/* line 41, ../sass/partials/_type.scss */
.article-body {
  color: #3c6e73;
}

/* line 5, ../sass/main.scss */
body {
  font: normal 400 10px "Helvetica", "Arial", sans-serif;
  display: block;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff9f0;
}

/* line 16, ../sass/main.scss */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 20, ../sass/main.scss */
.container .box {
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
/* line 26, ../sass/main.scss */
.container .box h3 {
  font-size: 2em;
}
/* line 29, ../sass/main.scss */
.container .box a {
  font-size: 1.5em;
  text-decoration: none;
}
/* line 35, ../sass/main.scss */
.container .logo {
  padding: 15px;
}
/* line 38, ../sass/main.scss */
.container .byline {
  vertical-align: bottom;
  padding: 15px;
  text-align: right;
  right: 0;
}
/* line 43, ../sass/main.scss */
.container .byline span {
  text-align: right;
  right: 0;
  margin: 0;
  font-size: 2em;
}
/* line 50, ../sass/main.scss */
.container .hero {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  max-height: 35em;
  overflow: hidden;
  padding: 0;
}
/* line 56, ../sass/main.scss */
.container .hero img {
  width: 100%;
}
/* line 60, ../sass/main.scss */
.container .icebreak {
  background-image: url("../img/icebreak-small_small.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
}
/* line 68, ../sass/main.scss */
.container .waves {
  background-image: url("../img/waves-small_small.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
}
/* line 76, ../sass/main.scss */
.container .drink {
  background-image: url("../img/drink-small_small.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
}
/* line 84, ../sass/main.scss */
.container .left {
  left: 0;
  text-align: left;
}
/* line 89, ../sass/main.scss */
.container .right {
  right: 0;
  text-align: right;
}
/* line 94, ../sass/main.scss */
.container .wrap_content {
  width: auto;
}
/* line 97, ../sass/main.scss */
.container .ofthree {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 101, ../sass/main.scss */
.container .full {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 105, ../sass/main.scss */
.container .half {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 700px) {
  /* line 111, ../sass/main.scss */
  .container .drink {
    background-image: url("../img/drink-large_large.jpg");
  }
  /* line 114, ../sass/main.scss */
  .container .waves {
    background-image: url("../img/waves-large_large.jpg");
  }
  /* line 117, ../sass/main.scss */
  .container .icebreak {
    background-image: url("../img/icebreak-large_large.jpg");
  }
  /* line 120, ../sass/main.scss */
  .container .ofthree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 125, ../sass/main.scss */
  .container .full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 129, ../sass/main.scss */
  .container .half {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 640px) and (orientation: portrait) {
  /* line 135, ../sass/main.scss */
  .container .ofthree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 137, ../sass/main.scss */
  .container .ofthree.three {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 142, ../sass/main.scss */
  .three .container .ofthree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 146, ../sass/main.scss */
  .container .full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 150, ../sass/main.scss */
  .container .half {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
